<section class="module-header full-height parallax bg-dark bg-dark-60" data-background="assets/images/module-17.jpg" data-jarallax="{&quot;type&quot;: &quot;scale-opacity&quot;}"
  style="background-image: none; z-index: 0;" data-jarallax-original-styles="background-image: url(&quot;assets/images/module-17.jpg&quot;);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="h1 m-b-20">Highlands Ranch
          <br/>Church of Christ</h1>
        <p class="m-b-30">Changing Lives Through Jesus</p>
      </div>
    </div>
  </div>
  <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
    <div class="paralax-background-img"></div>
  </div>
</section>


<section class="module module-divider-bottom">
  <div class="container">
    <div class="row m-b-100">
      <div class="col-md-6 pl-5">
        <h2>Come Worship With Us!</h2>
        <div class="ml-3">
          <h3 class="mb-0">Weekend Service</h3>
          <ul class="ml-3">
            <li>Sunday Bible Study: 9:30 am</li>
            <li>Sunday Service: 10:30 am</li>
          </ul>
          <p class="mb-0">
            <b>HRCOC is located at:</b>
          </p>
          <p class="mb-0">10585 Mountain Vista Ridge</p>
          <p class="mb-0">Highlands Ranch, CO 80126</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="special-heading">
          <h4>Welcome to HRCOC</h4>
        </div>
        <p>The Highlands Ranch church of Christ seeks to be a loving congregation that proclaims the gospel of Jesus to all.
          Our desire is to help you find a deeper understanding of His word, and in all ways adhere to the teachings and
          commandments of Jesus, the apostles, and follow the pattern of the first century Church as is laid out in scripture.</p>
        <blockquote>
          <p class="mb-0">"For where two or three gather in my name, there am I with them.”</p>
          <span class="pl-3">-Matthew 18:20</span>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<section class="module module-divider-bottom">
  <div class="container">
    <div class="row m-b-100">
      <blockquote>
        <p class="mb-0">"For this reason I kneel before the Father, from whom his whole family in heaven and on earth derives its name. I pray that out of his glorious riches he may strengthen you with power through his Spirit in your inner being, so that Christ may dwell in your hearts through faith. And I pray that you, being rooted and established in love, may have power, together with all the saints, to grasp how wide and long and high and deep is the love of Christ, and to know this love that surpasses knowledge” that you may be filled to the measure of all the fullness of God. Now to him who is able to do immeasurably more than all we ask or imagine, according to his power that is at work within us, to him be glory in the church and in Christ Jesus throughout all generations, for ever and ever! Amen."</p>
        <span class="pl-3">-Ephesians 3:14-21</span>
      </blockquote>
    </div>
  </div>
</section>
