<section class="module-header bg-dark bg-dark-60 kids-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="h1 m-b-20">Vacation Bible Study
          <br/>Through Christ</h1>
      </div>
    </div>
  </div>
</section>

<!-- /family/kids/vbs -->
<section class="module module-divider-bottom">
  <div class="container">
    <div class="row m-b-100">
      <div class="col-md-6 pl-5">
        <h2>Vacation Bible Study Section!</h2>
      </div>
    </div>
  </div>
</section>

