<footer class="footer navbar-fixed-bottom">
  <div class="row">
    <div class="col-md-2 sideInfoParent">
      <aside class="widget sideInfoChild d-flex flex-column">
        <p class="justify-content-start mb-3 footer-logo">
          <!-- <img class="w-225" src="" alt="hrcoc Logo"> -->
          Highlands Ranch Church of Christ
        </p>
        <p class="mb-4 fc-white">
          10585 Mountain Vista Ridge <br />
          Highlands Ranch, CO 80126
        </p>
        <div class="mb-4 fc-white">
          <p class="m-0 p-0"><span class="fc-white">Email: </span><a class="footer_email" href="mailto:test@test.com">test@test.com</a></p>
          <p class="m-0 p-0"><span class="fc-white">Phone:</span> <a href="tel:1234567890">123-456-7890</a></p>
        </div>
      </aside>
    </div>
    <div class="col mb-5">
      <div class="row">
        <div class="col-md-4">
          <aside class="widget">
            <div class="widget-title">
              <h5><a routerLink="/family">Family</a></h5>
            </div>
            <ul>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsAdults, 'fa-plus':!showDetailsAdults}"
                  (click)="showDetailsAdults = ! showDetailsAdults"></i>
                <a routerLink="/family/adults">For Adults</a>
                <ul class="subMenu-items" *ngIf="showDetailsAdults">
                  <li>
                    <a routerLink="/family/adults/weeklyBibleStudies">Weekly Bible Studies</a>
                  </li>
                  <li>
                    <a routerLink="/family/adults/sundayBibleStudy">Sunday Bible Study</a>
                  </li>
                  <li>
                    <a routerLink="/family/adults/mensGroup">Mens Group</a>
                  </li>
                  <li>
                    <a routerLink="/family/adults/womansGroup">Womans group</a>
                  </li>
                  <li>
                    <a routerLink="">Young Professionals</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsKids, 'fa-plus':!showDetailsKids}"
                  (click)="showDetailsKids = ! showDetailsKids"></i>
                <a routerLink="/family/kids">For Kids</a>
                <ul class="subMenu-items" *ngIf="showDetailsKids">
                  <li>
                    <a routerLink="/family/kids/vbs">Vacation Bible Study</a>
                  </li>
                  <li>
                    <a routerLink="/family/kids/sundayBibleClass">Sunday Bible Classes</a>
                  </li>
                  <li>
                    <a routerLink="/family/kids/youthGroup">Youth Group</a>
                  </li>
                  <li>
                    <a routerLink="/family/kids/youthOutreach">Youth Outreach</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsEveryone, 'fa-plus':!showDetailsEveryone}"
                  (click)="showDetailsEveryone = ! showDetailsEveryone"></i>
                <a routerLink="/family/everyone">For Everyone</a>
                <ul class="subMenu-items" *ngIf="showDetailsEveryone">
                  <li>
                    <a routerLink="/family/everyone/weeklyBibleStudies">Weekly Bible Studies</a>
                  </li>
                  <li>
                    <a routerLink="/family/everyone/communityOutreach">Community Outreach</a>
                  </li>
                  <li>
                    <a routerLink="/family/everyone/monthlyPotluck">Monthly Potluck</a>
                  </li>
                </ul>
              </li>
            </ul>
          </aside>
        </div>
        <div class="col-md-4">
          <aside class="widget">
            <div class="widget-title">
              <h5><a routerLink="/grow">Grow In Christ</a></h5>
            </div>
            <ul>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsBaptism, 'fa-plus':!showDetailsBaptism}"
                  (click)="showDetailsBaptism = ! showDetailsBaptism"></i>
                <a routerLink="/grow/baptism">Baptism</a>
                <ul class="subMenu-items" *ngIf="showDetailsBaptism">
                  <li>
                    <a routerLink="/grow/baptism/howToBeSaved">How to be Saved</a>
                  </li>
                  <li>
                    <a routerLink="/grow/baptism/biblicalBaptism">Biblical Baptism</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsCommunion, 'fa-plus':!showDetailsCommunion}"
                  (click)="showDetailsCommunion = ! showDetailsCommunion"></i>
                <a routerLink="/grow/communion">Communion</a>
                <ul class="subMenu-items" *ngIf="showDetailsCommunion">
                  <li>
                    <a routerLink="/grow/communion/weeklyCommunion">Weekly Communion</a>
                  </li>
                  <li>
                    <a routerLink="/grow/communion/biblicalCommunion">Biblical Communion</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsStudy, 'fa-plus':!showDetailsStudy}"
                  (click)="showDetailsStudy = ! showDetailsStudy"></i>
                <a routerLink="/grow/study">Study</a>
                <ul class="subMenu-items" *ngIf="showDetailsStudy">
                  <li>
                    <a routerLink="/grow/study/weeklyBibleReading">Weekly Bible Reading</a>
                  </li>
                  <li>
                    <a routerLink="/grow/study/yearlyBibleReading">Yearly Bible Reading</a>
                  </li>
                  <li>
                    <a routerLink="/grow/study/sermonFollowUp">Sermon Follow-up</a>
                  </li>
                </ul>
              </li>
            </ul>
          </aside>
        </div>
        <div class="col-md-4">
          <aside class="widget">
            <div class="widget-title">
              <h5><a href="/world">World Impact</a></h5>
            </div>
            <ul>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsLamb, 'fa-plus':!showDetailsLamb}"
                  (click)="showDetailsLamb = ! showDetailsLamb"></i>
                <a routerLink="">L.A.M.B</a>
                <ul class="subMenu-items" *ngIf="showDetailsLamb">
                  <li>
                    <a routerLink="/world/lamb/newsletter">Newsletter</a>
                  </li>
                  <li>
                    <a routerLink="/world/lamb/donations">Donations</a>
                  </li>
                  <li>
                    <a routerLink="/world/lamb/impact">Impact</a>
                  </li>
                  <li>
                    <a routerLink="/world/lamb/howToHelp">How to Help</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsMissions, 'fa-plus':!showDetailsMissions}"
                  (click)="showDetailsMissions = ! showDetailsMissions"></i>
                <a routerLink="/world/missions">Missions</a>
                <ul class="subMenu-items" *ngIf="showDetailsMissions">
                  <li>
                    <a routerLink="/world/missions/equidor">Equidor</a>
                  </li>
                  <li>
                    <a routerLink="/world/missions/southAmerica">South America</a>
                  </li>
                  <li>
                    <a routerLink="/world/missions/localMissions">Local Missions</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsGiving, 'fa-plus':!showDetailsGiving}"
                  (click)="showDetailsGiving = ! showDetailsGiving"></i>
                <a routerLink="/world/giving">Giving</a>
                <ul class="subMenu-items" *ngIf="showDetailsGiving">
                  <li>
                    <a routerLink="/world/giving/biblicalGiving">Biblical Giving</a>
                  </li>
                </ul>
              </li>
            </ul>
          </aside>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <aside class="widget">
            <div class="widget-title">
              <h5><a href="/whoWeAre">Who We Are</a></h5>
            </div>
            <ul>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsElders, 'fa-plus':!showDetailsElders}"
                  (click)="showDetailsElders = ! showDetailsElders"></i>
                <a routerLink="/whoWeAre/elders">Elders</a>
                <ul class="subMenu-items" *ngIf="showDetailsElders">
                  <li>
                    <a routerLink="/whoWeAre/elders/bobBrown">Bob Brown</a>
                  </li>
                  <li>
                    <a routerLink="/whoWeAre/elders/billFreemen">Bill Freemen</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsBelieve, 'fa-plus':!showDetailsBelieve}"
                  (click)="showDetailsBelieve = ! showDetailsBelieve"></i>
                <a routerLink="/whoWeAre/believe">We believe...</a>
                <ul class="subMenu-items" *ngIf="showDetailsBelieve">
                  <li>
                    <a routerLink="/whoWeAre/believe/whoWeAre">Who We Are</a>
                  </li>
                  <li>
                    <a routerLink="/whoWeAre/believe/sof">Statement of Faith</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsServices, 'fa-plus':!showDetailsServices}"
                  (click)="showDetailsServices = ! showDetailsServices"></i>
                <a routerLink="/whoWeAre/services">Services</a>
                <ul class="subMenu-items" *ngIf="showDetailsServices">
                  <li>
                    <a routerLink="/whoWeAre/services/counceling">Counseling</a>
                  </li>
                  <li>
                    <a routerLink="/whoWeAre/services/weddings">Weddings</a>
                  </li>
                  <li>
                    <a routerLink="/whoWeAre/services/prayer">Prayer</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks fa-caret-right"></i>
                <a routerLink="/contact">Contact Us</a>
              </li>
            </ul>
          </aside>
        </div>
        <div class="col-md-4">
            <aside class="widget">
                <div class="widget-title">
                    <h5>Follow Us At</h5>
                </div>
                <div class="d-flex justify-content-left">
                    <a class="pr-4" href="" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>
                    <a class="pr-4" href="" target="_blank"><i class="fab fa-youtube-square fa-3x"></i></a>
                    <a class="pr-4" href="" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
                    <a class="pr-4" href="" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a>
                </div>
            </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="row d-flex justify-content-center">
      <div>
        2018 Highlands Ranch Church of Christ. All rights reserved. 
      </div>
    </div>
  </div>
</footer>
