<!-- <footer class="footer navbar-fixed-bottom">
  <div class="container">
    <span class="text-muted">Highlands Ranch Church of Christ | 10585 Mountain Vista Ridge, Highlands Ranch, CO 80126</span>
  </div>
</footer> -->

<footer class="footer navbar-fixed-bottom">
  <div class="row">
    <div class="col-md-2 sideInfoParent">
      <aside class="widget sideInfoChild d-flex flex-column">
        <p class="justify-content-start mb-5">
          <img class="w-225" src="" alt="hrcoc Logo">
        </p>
        <p class="mb-4 fc-white">
          Highlands Ranch Church of Christ <br />
          10585 Mountain Vista Ridge <br />
          Highlands Ranch, CO 80126
        </p>
        <div class="mb-4 fc-white">
          <p class="m-0 p-0"><span class="fc-white">Email: </span><a class="footer_email" href="mailto:test@test.com">test@test.com</a></p>
          <p class="m-0 p-0"><span class="fc-white">Phone:</span> <a href="tel:1234567890">123-456-7890</a></p>
        </div>
      </aside>
    </div>
    <div class="col mb-5">
      <div class="row">
        <div class="col-md-4">
          <aside class="widget">
            <div class="widget-title">
              <h5><a href="/family">Family</a></h5>
            </div>
            <ul>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsAdults, 'fa-plus':!showDetailsAdults}" (click)="showDetailsAdults = ! showDetailsAdults"></i>
                <a>For Adults</a>
                <ul class="subMenu-items" *ngIf="showDetailsAdults">
                  <li>
                    <a>Weekly Bible Studies</a>
                  </li>
                  <li>
                    <a>Sunday Bible Study</a>
                  </li>
                  <li>
                    <a>Mens Group</a>
                  </li>
                  <li>
                    <a>Womans group</a>
                  </li>
                  <li>
                    <a>Young Professionals</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsKids, 'fa-plus':!showDetailsKids}"  (click)="showDetailsKids = ! showDetailsKids"></i>
                <a>For Kids</a>
                <ul class="subMenu-items" *ngIf="showDetailsKids">
                  <li>
                    <a>Vacation Bible Study</a>
                  </li>
                  <li>
                    <a>Sunday Bible Classes</a>
                  </li>
                  <li>
                    <a>Youth Group</a>
                  </li>
                  <li>
                    <a>Youth Outreach</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsEveryone, 'fa-plus':!showDetailsEveryone}"  (click)="showDetailsEveryone = ! showDetailsEveryone"></i>
                <a>For Everyone</a>
                <ul class="subMenu-items" *ngIf="showDetailsEveryone">
                  <li>
                    <a>Weekly Bible Studies</a>
                  </li>
                  <li>
                    <a>Community Outreach</a>
                  </li>
                  <li>
                    <a>Monthly Potluck</a>
                  </li>
                </ul>
              </li>
            </ul>
          </aside>
        </div>
        <div class="col-md-4">
          <aside class="widget">
            <div class="widget-title">
              <h5><a href="/">Grow In Christ</a></h5>
            </div>
            <ul>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsBaptism, 'fa-plus':!showDetailsBaptism}"  (click)="showDetailsBaptism = ! showDetailsBaptism"></i>
                <a>Baptism</a>
                <ul class="subMenu-items" *ngIf="showDetailsBaptism">
                  <li>
                    <a>How to be Saved</a>
                  </li>
                  <li>
                    <a>Biblical Baptism</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsCommunion, 'fa-plus':!showDetailsCommunion}"  (click)="showDetailsCommunion = ! showDetailsCommunion"></i>
                <a>Communion</a>
                <ul class="subMenu-items" *ngIf="showDetailsCommunion">
                  <li>
                    <a>Weekly Communion</a>
                  </li>
                  <li>
                    <a>Biblical Communion</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsStudy, 'fa-plus':!showDetailsStudy}"  (click)="showDetailsStudy = ! showDetailsStudy"></i>
                <a>Study</a>
                <ul class="subMenu-items" *ngIf="showDetailsStudy">
                  <li>
                    <a>Weekly Bible Reading</a>
                  </li>
                  <li>
                    <a>Yearly Bible Reading</a>
                  </li>
                  <li>
                    <a>Sermon Follow-up</a>
                  </li>
                </ul>
              </li>
            </ul>
          </aside>
        </div>
        <div class="col-md-4">
          <aside class="widget">
            <div class="widget-title">
              <h5><a href="/">World Impact</a></h5>
            </div>
            <ul>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsLamb, 'fa-plus':!showDetailsLamb}"  (click)="showDetailsLamb = ! showDetailsLamb"></i>
                <a>L.A.M.B</a>
                <ul class="subMenu-items" *ngIf="showDetailsLamb">
                  <li>
                    <a>Newsletter</a>
                  </li>
                  <li>
                    <a>Donations</a>
                  </li>
                  <li>
                    <a>Impact</a>
                  </li>
                  <li>
                    <a>How to Help</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsMissions, 'fa-plus':!showDetailsMissions}"  (click)="showDetailsMissions = ! showDetailsMissions"></i>
                <a>Missions</a>
                <ul class="subMenu-items" *ngIf="showDetailsMissions">
                  <li>
                    <a>Equidor</a>
                  </li>
                  <li>
                    <a>South America</a>
                  </li>
                  <li>
                    <a>Local Missions</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsGiving, 'fa-plus':!showDetailsGiving}"  (click)="showDetailsGiving = ! showDetailsGiving"></i>
                <a>Giving</a>
                <ul class="subMenu-items" *ngIf="showDetailsGiving">
                  <li>
                    <a>Biblical Giving</a>
                  </li>
                </ul>
              </li>
            </ul>
          </aside>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <aside class="widget">
            <div class="widget-title">
              <h5><a href="/">Who We Are</a></h5>
            </div>
            <ul>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsElders, 'fa-plus':!showDetailsElders}"  (click)="showDetailsElders = ! showDetailsElders"></i>
                <a>Elders</a>
                <ul class="subMenu-items" *ngIf="showDetailsElders">
                  <li>
                    <a>Bob Brown</a>
                  </li>
                  <li>
                    <a>Bill Freemen</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsBelieve, 'fa-plus':!showDetailsBelieve}"  (click)="showDetailsBelieve = ! showDetailsBelieve"></i>
                <a>We believe...</a>
                <ul class="subMenu-items" *ngIf="showDetailsBelieve">
                  <li>
                    <a>Who We Are</a>
                  </li>
                  <li>
                    <a>Statement of Faith</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks" [ngClass]="{'fa-minus':showDetailsServices, 'fa-plus':!showDetailsServices}"  (click)="showDetailsServices = ! showDetailsServices"></i>
                <a>Services</a>
                <ul class="subMenu-items" *ngIf="showDetailsServices">
                  <li>
                    <a>Counseling</a>
                  </li>
                  <li>
                    <a>Weddings</a>
                  </li>
                  <li>
                    <a>Prayer</a>
                  </li>
                </ul>
              </li>
              <li class="footer-menu-icon footer-menu-item">
                <i class="fas showSubLinks fa-caret-right"></i>
                <a>Contact Us</a>
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
</footer>
